body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  float: left;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body a {
  text-decoration: none !important;
  color: #ff681c;
}

img {
  max-width: 100%;
}
/* btn */
.btn_sub{
  background: #fff;color: #221f28;cursor: pointer;display: inline-block;font-size: 16px;text-transform: uppercase;letter-spacing: 2px;line-height: normal;font-weight: 700;
   position:relative;padding: 22px 20px;min-width: 205px; text-align: center;border: none;border-radius: 32px;box-shadow: 0px 13px 32px 0px rgba(254, 73, 0, 0.1);}
.btn_sub i{font-size: 13px;margin-right: 5px;transition: all ease 0.4s;}
.btn_sub:hover{color: #fff;background: #ff681c;}
.btn_sub:hover i{color: #ff681c;}
.btn_sub:focus{color: #24262b;}

.form-control {height: 65px;background: #f6f6f6;border: none;border-radius: 5px;color: #999999;font-size: 18px;margin-bottom: 20px;padding: 10px 20px;resize: none; font-weight: 500;}
.form-control:focus {border-color: rgba(254, 73, 1, 0.4) !important;box-shadow: none !important;background: #f6f6f6; }
label {font-size: 16px;color: #333333;font-weight: 500; }
textarea.form-control {min-height: 130px;padding-top: 15px;}

body h3 {
  font-size: 46px;
  color: #221f28;
  line-height: 60px;
  margin-bottom: 20px;
}

h3 span {
  color: #fe4901;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.owl-carousel .owl-dots {
  display: none;
}

/* header */
header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  top: 75px;
}

header .navbar {
  padding: 0px;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-nav {
  align-items: center;
  font-weight: 500;
}

.navbar .nav-item {
  margin-left: 70px;
}

.navbar .nav-item:first-child {
  margin-left: 0;
}

header .navbar-nav .nav-link {
  color: #fff;
  padding: 0px;
  transition: all .5s;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.5px;
}

header .navbar-nav .nav-link:focus, 
header .navbar-nav .nav-link:hover, 
header .navbar-nav .nav-item .nav-link.active {
  color: #ff671b;
}

header .navbar-nav .nav-item.contact_nav .nav-link {
  border-radius: 30px;
  padding: 15px 36px;
  background-image: -webkit-linear-gradient( 45deg, rgb(255,103,27) 0%, rgb(255,133,72) 100%);
  box-shadow: 0px 27px 68px 0px rgb(0 0 0 / 30%);
  color: #fff;
}

header .navbar-toggler {
  border: none;
  padding: 0;
}
header .navbar-toggler:focus {
  box-shadow: none ;
}


/* home */
.hero_banner {
  background-image: -webkit-linear-gradient( -135deg, rgb(159,70,255) 0%, rgb(108,4,220) 80%);
  padding-top: 240px;
  position: relative;
  z-index: 0;
}

.hero_banner:after {
  content: '';
  background: url("../src/images/hero_banner_shape.webp");
  z-index: -1;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 639px;
  width: 766px;
}

.hero_banner h2 {
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}

.hero_banner h1::before, .hero_banner h2::before {
  content: '';
  position: absolute;
  left: -120px;
  top: -120px;
  height: 220px;
  width: 220px;
  border: 30px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

h2 span {
  color: #fe4901;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  line-height: normal;
  letter-spacing: 2px;
}

.hero_banner h1, .hero_banner h2, .hero_banner h1 span, .hero_banner h2 span {
  color: #fff;
}

.hero_banner p {
  font-size: 26px;
  line-height: 42px;
  color: #fff;
  font-weight: 500;
  max-width: 475px;
  text-align: left;
}

.app_btn_sub {
  display: inline-block;
  margin: 25px 0 0;
}

.app_btn {
  background: #000;
  display: inline-block;
  border-radius: 37px;
  padding: 15px 30px;
}

.app_btn.gp {
  background: #fff;
  margin-left: 25px;
  box-shadow: none;
}

.hero_banner .mobile_img {
  display: block;
  text-align: right;
  margin-right: -30px;
  position: relative;
  z-index: 0;
  margin-bottom: -125px;
}

.hero_banner .mobile_img:after {
  content: '';
  background: url("../src/images/hero_banner_vector.webp");
  z-index: -1;
  background-size: cover;
  position: absolute;
  right: -245px;
  bottom: 170px;
  height: 712px;
  width: 761px;
}

/*  */
/* middle section */
.zing_dating_app h1{font-size: 60px;color: #221f28;line-height: 80px;margin-bottom: 20px;}
.zing_dating_app h1 span{color: #fe4901;font-size: 18px;text-transform: uppercase;font-weight: 700;display: block;line-height: normal;letter-spacing: 2px;}

.zing_dating_app{padding: 150px 0;background: url("../src/images/zing-dating-vector.webp") no-repeat;background-position: bottom 30px center;}
.zing_dating_app p{font-size: 20px;color: rgba(34, 31, 40, 0.8);line-height: 40px;font-weight: 300;}
.zing_dating_type {padding-top: 40px;}
.zing_dating_type p{font-size: 17px;color: rgba(34, 31, 40, 0.8);line-height: 32px;margin-bottom: 30px;}
.zing_dating_type .img_tag{position: relative;display: block;}
.zing_dating_type .row{align-items: center;}
.zing_dating_type .row:nth-child(2) .col-lg-5{order: 1;}
.zing_dating_type .row:nth-child(2) .col-lg-7{order: 2;}
.zing_dating_type .search_profiles .img_tag:before{
content: '';background: url("../src/images/circle-shape.webp") no-repeat;height: 100%;width: 100%;background-position: center center;position: absolute;left: 0;right: 0;top: -5%; z-index: -1;
}
.zing_dating_type .search_profiles .img_tag .search_user{overflow: hidden; width: 104px;height: 104px;display: inline-block;border: 8px solid #fff; box-shadow: 0px 15px 37px 0px rgba(0, 0, 0, 0.18);border-radius: 50%;overflow: hidden;position: absolute;}
.zing_dating_type .search_profiles .img_tag .search_user img{height: 100%;width: 100%;object-fit: cover;}
.zing_dating_type .search_profiles .img_tag .search_user.one{left: -1%;top: 27%;}
.zing_dating_type .search_profiles .img_tag .search_user.two{right:7%;top: 20%;width: 63px;height: 63px;border-width: 4px;}
.zing_dating_type .search_profiles .img_tag .search_user.three{left: 4%;bottom: 32%;width: 73px;height: 73px;border-width: 4px;}
.zing_dating_type .search_profiles .img_tag .search_user.four{right: 4%;bottom: 27%;width: 115px;height: 115px;border-width: 8px;}

.zing_dating_type .profile_details .img_tag{max-width: 622px;margin-left: auto;}
.zing_dating_type .profile_details .img_tag:before{
content: '';background: url("../src/images/profile-details-vector.webp") no-repeat;height: 100%;width: 100%;background-position: center center;position: absolute;left: 0;right: 0;top: -5%; z-index: -1;background-size: contain;
}

.zing_dating_type .chat_app .img_tag{max-width: 592px;}
.zing_dating_type .chat_app .img_tag:before{
content: '';background: url("../src/images/chat-mobi-vector.webp") no-repeat;height: 100%;width: 100%;background-position: center center;position: absolute;left: 0;right: 0;top: -5%; z-index: -1;background-size: 100%;
}

/* video */
.video_of_day {padding: 115px 0 75px;}
.video_of_day .video_middle{position: relative;text-align: center;}
.video_of_day .video_middle:before{
content: '';background: url("../src/images/video-vector-bg.webp") no-repeat;height: 838px;width: 100%;background-position: center center;position: absolute;left: 0;right: 0;top: -29%; z-index: -1;background-size: contain;
}
.video_of_day .video_middle .video_slide{max-width: 884px; margin: 0 auto 55px; }
.video_of_day .video_middle h3{max-width: 545px;margin: 0 auto;display: block;}
.video_of_day .video_middle .video_slide .owl-stage-outer{box-shadow: 0px 18px 96px 0px rgba(34, 31, 40, 0.21);border-radius: 15px;border: 8px solid #fff;}
.video_of_day .video_middle .video_slide .item{height: 590px;position: relative;overflow: hidden;}
.video_of_day .video_middle .video_slide .item > img{height: 100%;width: 100%;object-fit: cover;}
.video_of_day .video_middle .video_slide .item .play{position: absolute;left: 0;right: 0;top: 0;top: 50%;transform: translateY(-50%);max-width: 150px;margin: 0 auto;}
.video_of_day .video_middle .video_slide .item .play img{width: auto;display: inline-block;}
.video_of_day .video_middle .owl-nav{margin: 0;}
.video_of_day .video_middle .owl-nav button{opacity: 0;visibility: hidden;position: absolute;top: 50%;transform: translateY(-50%);height:50px;width: 50px;display: flex;align-items: center;justify-content: center;background: #ff671b !important; border-radius: 50%;box-shadow: 0px 18px 96px 0px rgba(34, 31, 40, 0.21);transition: all ease 0.4s; color: #fff !important; font-size: 30px !important;}
.video_of_day .video_middle .owl-nav button span{margin-top: -8px;}
.video_of_day .video_middle .owl-nav button.owl-prev{left: 0;}
.video_of_day .video_middle .owl-nav button.owl-next{right: 0;}
.video_of_day .video_middle .owl-nav button:hover{background: #fcb18c !important;}
.video_of_day .video_middle:hover .owl-nav button{opacity: 1;visibility: visible;}
.video_of_day .video_middle:hover .owl-nav button.owl-prev{left: -100px;}
.video_of_day .video_middle:hover .owl-nav button.owl-next{right: -100px;}
.owl-carousel {display: block !important;}
.video_of_day .video_middle .owl-dots {display: none;}

/* testimonial */
.testimonials{background: #ff671b;padding: 110px 0;position: relative;margin-top: 90px;}
.testimonials h3{color: #fff;margin-bottom: 40px;}
.testimonials h3 span{color: #fff;opacity: 0.5;}
.testimonials:before{content: '';background: url('../src/images/testimonials-top-shape.webp') center;background-repeat: repeat-x; width: 100%;height: 89px;position: absolute;top: -89px;}
.testimonials_slide p{color: #ffffff;font-style: italic;font-style: 17px;line-height: 26px;margin-bottom: 30px;}
.testimonials_slide .user_by{display: flex;width: 100%;align-items: center;}
.testimonials_slide .user_by .img_tag{height: 70px;width: 70px;display: inline-block;border-radius: 50%;overflow: hidden;margin-right: 20px;}
.testimonials_slide .user_by .img_tag img{height: 100%;width: 100%;object-fit: cover;}
.testimonials_slide .user_by .name{font-weight: 500;font-size: 22px;color: #fff;line-height: normal;}
.testimonials_slide .user_by .name small{font-weight: normal;font-size: 15px;display: block;margin-top: 5px;}
.testimonials_slide.owl-theme .owl-nav{text-align: left;margin-top: 40px;}
.testimonials_slide.owl-theme .owl-nav button{text-align: left;margin: 0 30px 0 0;}
.testimonials_slide.owl-theme .owl-nav button:focus{outline: none;}
.testimonials_slide.owl-theme .owl-nav button:hover{background: transparent;opacity: 0.3;}

/* footer */
footer {background: #221f28;}
footer .footer_top{padding: 85px 0 65px;}
footer .footer_logo{display: block;margin: 0 0 12px;}
footer .footer_logo a{display: inline-block;margin-left: -10px;}
footer .footer_top p{color: #fff;line-height: 28px;font-size: 16px;max-width: 410px;margin-bottom: 30px;}
footer .footer_social{margin-top: 5px;}
footer .footer_social ul{padding: 0;margin: 0;list-style: none;}
footer .footer_social li{display: inline-block;margin-left: 15px;font-size: 16px;}
footer .footer_social li:first-child{margin-left: 0;}
footer .footer_social li a{display: inline-block;}
footer .footer_social li a:hover{transform: rotate(360deg);}
footer .link_list h4{color: #ff5817;font-size: 18px;text-transform: uppercase;margin-bottom: 25px;letter-spacing: 2px;}
footer .link_list ul{list-style: none;padding: 0;margin: 0;}
footer .link_list ul li{font-size: 18px;display: block;margin: 0 0 12px;}
footer .link_list ul li a{color: #fff !important;}
footer .link_list ul li a:hover,footer .link_list ul li a.active{color: #ff5817;text-indent: 10px;}

footer .copyright{padding: 15px 0;display: block;background: #17151b;text-align: center;}
footer .copyright p{color: #fff;font-size: 15px;margin: 0;font-weight: 500;}

/* about page */
.sub_banner{background-size: cover !important;background-color: #fe4901; position: relative; background-repeat: no-repeat;height: 500px;display: flex;align-items: center;text-align: center;}
.sub_banner::before{
content: '';position: absolute;top: 0;right: 0;left: 0;height: 100%;width: 100%;
background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.70196) 0%, rgba(0,0,0,0) 100%);
background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.70196) 0%, rgba(0,0,0,0) 100%);
background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.70196) 0%, rgba(0,0,0,0) 100%);
}
.sub_banner h1{color: #fff;padding-top: 100px;text-transform: uppercase;font-size: 75px;}

.vision-statement{padding: 160px 0;}
.vision-statement p{font-size: 24px;line-height: 46px;font-weight: 400;}
.vision-statement .img-tag{display: inline-block;border-radius: 15px;overflow: hidden;}
.vision-statement .img-tab{position: relative;}
.vision-statement .img-tag.img-one{max-width: 400px;margin-left: 40px;}
.vision-statement .img-tag.img-two{max-width: 318px;position: absolute;right: 15px;top: 164px;}

.numbers-speaks{padding: 50px 0 100px 0;}
.numbers-speaks h3{margin-bottom: 60px;}
.numbers-speaks .numbers{font-size: 60px;font-weight: 300;text-align: center;}
.numbers-speaks .numbers span{display: block;color: #7b747e;font-size: 14px;letter-spacing: 2px;text-transform: uppercase;}

.our-team {padding: 40px 0 160px 0;}
.our-team h3{margin-bottom: 60px;}
.team-block{padding: 0;position: relative;overflow: hidden;}
.team-block::before{content: '';position: absolute;top: 0;left: 0;right: 0;height: 100%;background: rgba(0, 0, 0, 0.15);transition: all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;}
.team-block img{width: 100%;}
.team-block h4{position: absolute;color: #fff;font-size: 20px;bottom: 30px;left: 30px;font-weight: normal;line-height: 26px;margin: 0;}
.team-block h4 span{display: block;font-size: 16px;}
.team-block:hover:before{background: rgba(0, 0, 0, 0.5);}

.try-free{background: #f2f4f6;padding: 100px 0;}
.try-free .icon{background: #fff; box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.2);border-radius: 20px;width: 80px;height: 81px;display: flex;align-items: center;justify-content: center;}
.try-free .text{width: calc(100% - 81px);padding-left: 55px;}
.try-free .text h2{font-weight: 100;color: #2c272e;font-size: 58px;font-family: 'Roboto', sans-serif;margin: 0 0 10px;}
.try-free .text p{margin: 0;color: #7b747e;font-weight: normal;font-size: 20px;}
.try-free .app_btn_sub{display: flex;align-items: center;justify-content: flex-end;margin: 0;height: 100%;}

/* blog */
.blog-list{padding: 140px 0;}
.blog-list .card{border-color: #e9e9f0;overflow: hidden;border-radius: 15px;margin: 15px 0;}
.card-img{overflow: hidden;border-radius: 0 !important;}
.blog-list .card-img-top{height: 382px;object-fit: cover;transition: all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;-o-transition: all ease 0.4s;-ms-transition: all ease 0.4s;}
.blog-list .card:hover .card-img-top{transform: scale(1.1);}
.blog-list .card h6{font-weight: 300;font-size: 14px;color: #7b747e;}
.blog-list .card h4 {margin-bottom: 22px;}
.blog-list .card h4 a{color: #1c1c1c;}
.blog-list .card h4 a:hover{color: #ff681c;}
.blog-list .card p{letter-spacing: 0.5px;color: rgba(34, 31, 40, 0.6);font-weight: 300;}
.blog-list .card-body {padding: 30px;}
.more{letter-spacing: 1px;text-transform: uppercase;}
.more img{max-width: 17px;opacity: 0.5;margin-left: 5px;margin-top: -2px;transition: all ease 0.4s;}
.more:hover img{opacity: 1;margin-left: 10px;}

.pagination{margin: 70px 0 0;}
.pagination li{font-size: 16px;letter-spacing: 1px;}
.pagination li a{color: #1c1c1c;}
.pagination li a:hover{color: #ff681c;}
.pagination a.rounded-circle{width: 45px;height: 45px;padding: 0;display: flex;align-items: center;justify-content: center;color: #1c1c1c;}
.pagination a.rounded-circle:hover{background: #ff681c;color: #fff;border-color: #ff681c;}
.pagination a.rounded-circle:focus{box-shadow: none;}


/* contact */
.contact-middle{padding: 160px 0;background: #f9f9f9;}
.contact-middle form{padding-right: 120px;}
.contact-middle .form-control{background: #fff;border: 2px solid #e5e5e5;}
.contact-middle h2{margin-bottom: 60px;}
.contact-middle .btn_sub{color: #fff;
background-image: -moz-linear-gradient( 45deg, rgb(255,103,27) 0%, rgb(255,133,72) 100%);
background-image: -webkit-linear-gradient( 45deg, rgb(255,103,27) 0%, rgb(255,133,72) 100%);
box-shadow: 0px 27px 68px 0px rgba(0, 0, 0, 0.3);
}
.contact-middle .btn_sub:hover{box-shadow: none;}



/* responsive */

@media (min-width: 1200px){
  .container {max-width: 1215px;}
}

@media (max-width: 1200px){
  h1 {font-size: 80px;line-height: 80px;}
  h2{font-size: 40px;line-height: 55px;}
  h3{font-size: 36px;line-height: 46px;}

  header{top: 30px;}
  .hero_banner{padding-top: 140px;}
  .hero_banner h2{font-size: 80px;line-height: 80px;}
  .navbar .nav-item{margin-left: 50px;}
  .navbar .navbar-nav .nav-link{font-size: 16px;}
  .hero_banner .mobile_img::after {height: 552px; width: 601px;right: -100px;}
  .hero_banner p{font-size: 22px;line-height: 34px;}
  .zing_dating_app{padding: 120px 0;background-position: bottom 0px center;}
  .zing_dating_app h1{font-size: 40px;line-height: 55px;}
  .zing_dating_type .search_profiles .img_tag::before{height: 97%;width: 97%;margin: 0 auto;background-size: contain;}
  .video_of_day .video_middle .video_slide.owl-theme .owl-nav button{visibility: visible;opacity: 1;}
  .video_of_day .video_middle .video_slide.owl-theme .owl-nav button.owl-prev{left: -25px !important;}
  .video_of_day .video_middle .video_slide.owl-theme .owl-nav button.owl-next{right: -25px !important;}


  footer .link_list ul li{font-size: 16px;}
  footer .link_list h4{font-size: 16px;margin-bottom: 15px;}
  .vision-statement{padding: 90px 0;}
  .vision-statement .img-tag.img-one{margin-left: 20px;}
  .vision-statement .img-tag.img-two{max-width: 240px;top: 215px;}
  .vision-statement p{font-size: 22px;}
  .numbers-speaks{padding: 50px 0;}
  .numbers-speaks h3 {margin-bottom: 40px;}
  .our-team{padding: 40px 0 90px 0;}
  .try-free{padding: 90px 0;}
  .try-free .text{padding-left: 35px;}
  .try-free .text h2{font-size: 44px;}
  .try-free .text p{font-size: 16px;}
  .try-free .icon{width: 70px;height: 70px;padding: 10px;}
  .contact-middle form{padding-right: 0;}
  .contact-middle{padding: 90px 0;}

  .blog-list{padding: 90px 0;}
  .blog-list .card-img-top{height: 302px;}

  .blog-detail-banner{padding-top: 220px;}
  .blog-detail-banner h1{font-size: 42px;line-height: 52px;}
  .blog-detail-middle{padding: 140px 0 90px 0;}
}

@media (max-width: 991px){
  h1 {font-size: 60px;line-height: 60px;}
  h2{font-size: 36px;line-height: 46px;}
  h3{font-size: 26px;line-height: 36px;}
  h2 span{margin-bottom: 2px;font-size: 16px;}
  h3 span{margin-bottom: 2px;font-size: 14px;}

  .overflow_body{overflow: hidden;}
  header{top: 0;}
  .hero_banner{text-align: center;padding-top: 130px;}
  .hero_banner h2{font-size: 60px;line-height: 60px;}
  .hero_banner h1::before,.hero_banner h2::before {width: 130px;height: 130px;top: -50px;left: -40px;border-width: 20px;}
  .app_btn_sub{margin: 25px 0 35px;}
  .hero_banner p{margin: 0 auto;}
  .app_btn{padding: 14px 30px;}
  .app_btn img{max-height: 30px;}
  .hero_banner .mobile_img{text-align: center;margin: 0 0 -100px;}
  .hero_banner .mobile_img::after {right: 0;left: 0; margin: 0 auto;}
  .hero_banner::after {width: 566px;height: 499px;}

  header .navbar{height: 90px;}
  .navbar-collapse {position: fixed;right: 0;top: 90px; z-index: 99;background-color: #fff;width: 100%;border-top: 1px solid #e7e7e7;}
  .navbar .navbar-nav{justify-content: center;width: 100%;overflow-y: auto;height: calc(100vh - 90px);padding: 50px 0;}
  header.nav-open{position: fixed;z-index: 99;width: 100%;background: #6c04dc;}
  .navbar .navbar-nav .nav-link{padding: 10px;font-size: 22px;display: inline-block;color: #221f28;font-weight: 300;}
  .navbar .nav-item{margin: 10px 0;}
  .navbar .navbar-nav .nav-item.contact_nav .nav-link{color: #fff;padding: 10px 30px;}
  .navbar-brand{margin: 10px 0 0;}

  .zing_dating_app{padding: 90px 0 60px 0;background-size: contain;}
  .zing_dating_app h1{font-size: 36px;line-height: 46px;}
  .zing_dating_type{text-align: center;padding-top: 0;}
  .zing_dating_type p{margin-bottom: 20px;font-size: 16px;line-height: 30px;}
  .zing_dating_type .row:nth-child(2) .col-lg-7,.zing_dating_type .row:nth-child(2) .col-lg-5{order: 0;}
  .zing_dating_type .profile_details .img_tag{margin: 0 auto;}
  .zing_dating_type .row{margin-bottom: 60px;}
  .zing_dating_type .row:last-child{margin-bottom: 0;}
  .zing_dating_type .chat_app .img_tag{margin: 0 auto;}
  .video_of_day{padding: 85px 0 75px;}
  .video_of_day .video_middle::before {height: 570px;}
  .video_of_day .video_middle .video_slide .item{height: 390px;}
  .video_of_day .video_middle .video_slide .item .play{max-width: 80px;}

  .testimonials{padding: 60px 0;}
  .testimonials h3{margin: 30px 0 20px 0;text-align: center;}
  .testimonials_slide{text-align: center;}
  .testimonials_slide p{margin-bottom: 20px;}
  .testimonials .align-items-center{text-align: center;}
  .testimonials_slide.owl-theme .owl-nav{margin-top: 15px;text-align: center;}
  .testimonials_slide .user_by{justify-content: center;}
  .testimonials_slide .user_by .name{text-align: left;}

  footer .footer_top{padding: 50px 0;text-align: center;}
  footer .footer_top p{margin: 0 auto 15px;}
  footer .footer_social{margin: 20px 0 40px 0;}
  footer .link_list{text-align: left;}
  footer .copyright p{font-size: 14px;}

  .sub_banner{height: 350px;background-position: center !important;}
  .sub_banner h1{font-size: 60px;padding-top: 60px;}

  .vision-statement .img-tag.img-one{max-width: 100%;width: 58%;margin: 15px 0 0;}
  .vision-statement .img-tag.img-two{max-width: 100%;width: 48%;position: inherit;top: 0;margin-top: -35%;left: 0;float: right;}
  .vision-statement .img-tag img{width: 100%;}
  .vision-statement p{line-height: 36px;font-size: 18px;}

  .numbers-speaks{padding: 0 0 50px;}
  .try-free .app_btn_sub{justify-content: flex-start;margin-top: 25px;}
 
  .contact-middle{padding: 90px 0 0;}
  .contact-middle .img-tag{margin-top: 60px;}
  .contact-middle h2{margin-bottom: 40px;}
  .blog-list .card-img-top{height: 230px;}
}

@media (max-width: 767px){
  h1 {font-size: 40px;line-height: 50px;}
  h2{font-size: 28px;line-height: 38px;margin-bottom: 15px;}
  body  h3{font-size: 22px;line-height: 30px;margin-bottom: 15px;}

  .hero_banner h2{font-size: 40px;line-height: 50px;}
  .zing_dating_app{padding: 90px 0 40px 0;}
  .zing_dating_app h1{font-size: 28px;line-height: 38px;margin-bottom: 15px;}
  .zing_dating_app p{line-height: 36px;line-height: 36px;}
  .btn_sub{min-width: 185px;padding: 18px 20px;}
  .video_of_day .video_middle .video_slide .item{height: 310px;}
  .video_of_day .video_middle::before {height: 450px;}
  .testimonials{margin-top: 70px;}
  .testimonials::before {height: 69px;top: -69px;background-size: cover;}

  .sub_banner{height: 270px;}
  .sub_banner h1{font-size: 40px;}

  .vision-statement{padding: 60px 0;}
  .numbers-speaks h3{margin-bottom: 25px;}
  .numbers-speaks .numbers{font-size: 36px;}
  .our-team {padding: 10px 0 60px 0;}
  .try-free{padding: 60px 0;}

  .contact-middle{padding: 60px 0 0;}

  .form-control{height: 60px;}
  .blog-list{padding: 60px 0;}
  .blog-list .card-img-top{height: auto;}
  .pagination{margin: 30px 0 0;}

  .blog-detail-banner{padding-top: 140px;}
  .blog-detail-banner h1{font-size: 28px;line-height: 36px;}
  .blog-detail-middle .media-comment p{font-size: 14px;}

  #signup-popup .try-free{padding: 40px 20px;}
}

@media screen and (max-width: 575px){
  h1 {font-size: 32px;line-height: 38px;}
  h1 span{font-size: 16px;}
  h2{font-size: 24px;line-height: 34px;margin-bottom: 15px;}
  .navbar-brand{max-width: 160px;}
  .app_btn img{max-height: 25px;}
  .hero_banner h2{font-size: 32px;line-height: 38px;}
  .hero_banner p{line-height: 24px;font-size: 18px;}
  .hero_banner{padding-top: 110px;}
  .app_btn_sub{margin: 15px 0 25px;}
  .app_btn.gp{margin: 10px;}
  .hero_banner::after {width: 350px;height: 450px;}
  .video_of_day{padding: 75px 0;}
  .video_of_day .video_middle .video_slide .item{height: auto;}
  .video_of_day .video_middle .video_slide .item .play{max-width: 60px;}
  .video_of_day .video_middle::before {height: 450px;top: -130px;}
  .testimonials{margin-top: 30px;padding: 40px 0 50px 0;}
  .testimonials::before {height: 30px;top: -30px;}
  .video_of_day .video_middle .video_slide{margin: 0 auto 35px;}
  .video_of_day .video_middle .video_slide.owl-theme .owl-nav button{position: inherit;transform: none;width: 40px;height: 40px;}
  .video_of_day .video_middle .video_slide.owl-theme .owl-nav button img{max-width: 20px;}
  .video_of_day .video_middle .video_slide.owl-theme .owl-nav{display: flex;align-items: center;justify-content: center;margin-top: 15px;}
  .zing_dating_app h1{font-size: 24px;line-height: 34px;margin-bottom: 15px;}
  footer .d-flex{flex-direction: column;}
  footer .link_list {width: 100%;text-align: center;margin: 0 0 30px;}
  footer .link_list:last-child{margin: 0;}
  footer .link_list ul li:last-child{margin: 0;}

  .sub_banner{height: 240px;}
  .sub_banner h1{font-size: 32px;}

  .vision-statement p{line-height: 32px;font-size: 16px;}
  .numbers-speaks .numbers{font-size: 24px;}
  .numbers-speaks .numbers span{letter-spacing: 0.5px;}
  .try-free .text h2{font-size: 30px;}
  .try-free .app_btn_sub{margin-top: 10px;}
  .try-free .icon{width: 55px;height:55px;border-radius: 15px;padding: 8px;}
  .try-free .text{padding-left: 20px;}
  .try-free .text p{font-size: 15px;line-height: 26px;}
  .app_btn{padding: 14px 20px;}

  .blog-list .card-body{padding: 24px;}
  .blog-list .card{margin: 8px 0;}
  .blog-list .card p{line-height: 28px;font-size: 16px;}
  article h4:not(:first-child),article h5:not(:first-child) { margin-top: 1.5rem;}
  .wh-60{width: 45px;}
  .blog-detail-middle .media-comment .input-group-prepend i{font-size: 14px;}
  .blog-detail-middle .media-comment .form-control{font-size: 14px;}

  #signup-popup .try-free .text p{font-size: 15px;letter-spacing: 0.2px;}
  #signup-popup .app_btn img{max-height: 30px;}
  #signup-popup .try-free{ padding: 30px 10px;}
  #signup-popup .app_btn{padding: 10px 12px;}
  #signup-popup .app_btn.gp{margin: 0 0 0 8px;}
}


